backlog1.docx
preprocess_data.docx
commandes_useful.txt
backlog_v1.xlsx


__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
*.log
*.json
*.ipynb

*.docx
*.xlsx
*.pptx

brouillons/
data/
datasets/
logs/
.env
venv/
venv_wsl/
.DS_Store